.ContainerPrincipal {
  margin: 10px;
  border-radius: 10px;
  background-color: lightgray;
}
.ContainerNav {
  margin: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
}

.ContainerCarrossel {
  margin: 10px;
  border-radius: 10px;
}

.ImgCarrossel {
  height: 450px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
}
.ImgGrid1 {
  width: 300px;
  border-radius: 10px;
}
.BannerEmpresas {
  width: auto;
}
.card1 {
  width: 800px;
  margin: 30px;
}
.card2 {
  width: 450px;
  margin: 30px;
}
/* .BoxCard2 {
  display: flex;
  justify-content: center;
} */

.img{
  width: 70px;
  justify-items:center ;
}